<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src='https://cdn.tailwindcss.com'></script>
    <title>Pizza Express</title>
  </head>
  <body>
    <header class='bg-white h-[15vh]'>
      <nav
        class='mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8'
        aria-label='Global'
      >
        <div class='flex lg:flex-1'>
          <a href='/' class='-m-1.5 p-1.5'>
            <span class='sr-only'>Pizza Express</span>
            <img
              class='h-12 w-auto'
              src='https://i.pinimg.com/originals/39/1c/4c/391c4c2a630980c8cb5c382d04c08309.jpg'
              alt='Pizza Express Logo'
            />
          </a>
        </div>
        <div class='flex gap-x-12'>
          <a
            href='/'
            class='text-sm font-semibold leading-6 text-gray-900'
          >Home</a>
          <a
            href='/menu'
            class='text-sm font-semibold leading-6 text-gray-900'
          >Menu</a>
          <a
            href='/order'
            class='text-sm font-semibold leading-6 text-gray-900'
          >Order</a>
        </div>
        <div class='flex lg:flex-1 lg:justify-end'>
          {{#if logged_in}}
            <a
              id='logout'
              class='text-sm cursor-pointer font-semibold leading-6 text-gray-900 cursor-pointer'
            >Log out
              <span aria-hidden='true'>&rarr;</span></a>
          {{else}}
            <a
              href='/login'
              class='text-sm font-semibold leading-6 text-gray-900'
            >Log in
              <span aria-hidden='true'>&rarr;</span></a>
          {{/if}}
        </div>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>