<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Pizza Express</title>
    <script src='https://cdn.tailwindcss.com'></script>
    <link rel='stylesheet' href='/assets/css/style.css' />
    <script src='/assets/js/index.js'></script>
  </head>
  <body>
    <header class='bg-white'>
      <nav
        class='mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8'
        aria-label='Global'
      >
        <div class='flex lg:flex-1'>
          <a href='/' class='-m-1.5 p-1.5'>
            <span class='sr-only'>Pizza Express</span>
            <img
              class='h-12 w-auto'
              src='https://i.pinimg.com/originals/39/1c/4c/391c4c2a630980c8cb5c382d04c08309.jpg'
              alt='Pizza Express Logo'
            />
          </a>
        </div>
        <div class='flex gap-x-12'>
          <a
            href='/'
            class='text-sm font-semibold leading-6 text-gray-900'
          >Home</a>
          <a
            href='/order'
            class='text-sm font-semibold leading-6 text-gray-900'
          >Order</a>
        </div>
        <div class='flex lg:flex-1 lg:justify-end'>
          {{#if logged_in}}
            <a
              onclick='logout()'
              class='text-sm cursor-pointer font-semibold leading-6 text-gray-900 cursor-pointer'
            >Log out
              <span aria-hidden='true'>&rarr;</span></a>
          {{else}}
            <a
              href='/login'
              class='text-sm font-semibold leading-6 text-gray-900'
            >Log in
              <span aria-hidden='true'>&rarr;</span></a>
          {{/if}}
        </div>
      </nav>
    </header>
    {{{body}}}
    <footer class='bg-white relative bottom-0'>
      <div class='w-full max-w-screen-xl mx-auto p-4 md:py-8'>
        <div class='sm:flex sm:items-center sm:justify-between'>
          <a href='https://example.com/' class='flex items-center mb-4 sm:mb-0'>
            <img
              src='https://i.pinimg.com/originals/39/1c/4c/391c4c2a630980c8cb5c382d04c08309.jpg'
              class='h-8 mr-3'
              alt='Pizza Express Logo'
            />
            <span
              class='self-center text-2xl font-semibold whitespace-nowrap dark:text-white'
            >Pizza Express</span>
          </a>
          <ul
            class='flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400'
          >
            <li>
              <a href='#' class='mr-4 hover:underline md:mr-6'>About</a>
            </li>
            <li>
              <a href='#' class='mr-4 hover:underline md:mr-6'>Policies</a>
            </li>
            <li>
              <a href='#' class='mr-4 hover:underline md:mr-6'>Menu</a>
            </li>
            <li>
              <a href='#' class='hover:underline'>Contact</a>
            </li>
          </ul>
        </div>
        <hr
          class='my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8'
        />
        <span
          class='block text-sm text-gray-500 sm:text-center dark:text-gray-400'
        >© 2023
          <a href='https://example.com/' class='hover:underline'>Pizza Express</a>.
          All Rights Reserved.</span>
      </div>
    </footer>
  </body>
</html>