<p>This is the checkout page that shows the customers details and the order they
  are placing, as well as the payment option. If there are not items in cart, we
  will display No items placed in cart yet.
</p>