<div class='flex overflow-hidden h-screen text-gray-800'
style="background-image: url('https://artisanpizzakitchen.com/wp-content/uploads/2018/05/373_photo3.jpg'); background-repeat: no-repeat; background-size: cover; height: 100vh;">
  <div
    class='bg-gray-100 text-center grid md:grid-cols-2 w-4/6 m-auto p-8 bg-opacity-90 rounded-lg'
  >
    <img
      class='m-auto rounded-lg'
      src='https://static.cms.yp.ca/ecms/media/1/11042220_lel-1444925848-600x360.jpg'
      alt=''
    />
    <div class='text m-auto text-lg md:ml-5 p-5 md:text-left'>
      <div class='text-3xl mb-3 font-semibold'>Why We Love Pizza?</div>
      <p>At Pizza Express, we are passionate about crafting the most delicious and satisfying pizzas that will leave you craving more. Our secret lies in using only the freshest and finest ingredients, handpicked to ensure each slice is a burst of flavor.</p>
    </div>
  </div>
</div>

<div
  class='bg-gray-100 font-semibold text-3xl text-center px-5 py-20 text-gray-800'
>Our Most Popular Pies</div>

<div class="bg-gray-100 p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://images.unsplash.com/photo-1458642849426-cfb724f15ef7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" alt="The Supreme Pizza | Pizza Express">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">The Supreme</div>
        <p class="text-gray-700 text-base max-h-40">
        Introducing our Supreme Pizza - the pinnacle of pizza perfection! Savor the delightful combination of savory pepperoni, Italian sausage, fresh vegetables, and melted mozzarella cheese on a mouthwatering hand-tossed crust. Each bite is a symphony of flavors that will leave you craving for more. Treat yourself to the ultimate pizza experience with our delectable Supreme Pizza today!        </p>
      </div>
      <div class="px-6 py-12 flex justify-center">
        <a class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        href="/order">
            Order Now
        </a>
      </div>
    </div>

    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://images.unsplash.com/photo-1534308983496-4fabb1a015ee?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1752&q=80" alt="Spicy Pepperoni Pizza | Pizza Express">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Spicy Pepperoni</div>
        <p class="text-gray-700 text-base max-h-40">
        Indulge in the fiery goodness of our Spicy Pepperoni Pizza! Packed with bold, zesty pepperoni that packs a punch, this pizza is not for the faint of heart. Tantalize your taste buds with the perfect balance of heat and flavor, complemented by our signature tomato sauce and gooey mozzarella cheese, all resting on a crispy crust. Get ready for an unforgettable pizza adventure that will ignite your senses. Spice up your pizza game and try our Spicy Pepperoni Pizza now!        </p>
      </div>
      <div class="px-6 py-12 flex justify-center">
        <a class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        href="/order">
            Order Now
        </a>
      </div>
    </div>

    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://images.unsplash.com/photo-1620374645498-af6bd681a0bd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" alt="Classic Cheese Pizza | Pizza Express">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Classic Cheese</div>
        <p class="text-gray-700 text-base max-h-40">
        Discover the timeless delight of our Classic Cheese Pizza! Simple yet satisfying, this pizza is a celebration of pure cheese bliss. Indulge in the creamy, mouthwatering mozzarella that blankets our perfectly baked crust, complemented by a rich and savory tomato sauce. Each bite offers a symphony of flavors that will transport you to pizza heaven. Whether you're a pizza purist or just craving a comforting treat, our Classic Cheese Pizza is the ultimate choice for all cheese lovers. Experience the essence of pizza perfection and order yours today!        </p>
      </div>
      <div class="px-6 py-12 flex justify-center">
        <a class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        href="/order">
            Order Now
        </a>
      </div>
    </div>
  </div>
</div>

<div class='py-28 w-full grid md:grid-cols-2 bg-gray-100 text-gray-800'>
  <div class='flex-none overflow-hidden max-h-96'>
    <img
      class='w-full'
      src='https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/delish-keto-pizza-073-1544039876.jpg?crop=0.668xw:1.00xh;0.233xw,0.00255xh&resize=980:*'
      alt=''
    />
  </div>
  <div class='ml-5 my-auto p-8'>
    <div class='font-semibold text-3xl mb-5'>What is our pizza crust made out
      of?</div>
    <div class='text-lg'>We've seen it all kinds of ways, with different types
      of flours, but we settled on almond flour for its nutty flavor. We also
      mix in spices—Italian seasoning and garlic powder—to give it more flavor.
      We skip yeast because it can be a pain and instead incorporate eggs and
      olive oil. The eggs help make the crust fluffy.</div>
  </div>
</div>

<footer class="bg-white m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://example.com/" class="flex items-center mb-4 sm:mb-0">
                <img src="https://i.pinimg.com/originals/39/1c/4c/391c4c2a630980c8cb5c382d04c08309.jpg" class="h-8 mr-3" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Pizza Express</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6">Policies</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">Menu</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://example.com/" class="hover:underline">Pizza Express</a>. All Rights Reserved.</span>
    </div>
</footer>
</div>
