<p>This is the view that will be rendered when a customer clicks on an item from
  the /orders page. It will get the pizza item by id and render it. It can show
  options for the toppings and gives the user a choice to add toppings etc.</p>

Testing id:
{{id}}