<div
  class='flex flex-col justify-center items-center text-center py-12 px-6 mb-[-200px]'
>
  <h2 class='text-3xl mb-3 font-semibold'>Order a Pizza</h2>
  <p>Browse through our selection of hand crafted pizzas built with the finest
    ingredients.
  </p>
</div>
<div class='flex items-center justify-center w-full h-full pb-20 sm:py-8 px-4'>
  <div class='w-full relative flex items-center justify-center'>
    <button
      aria-label='slide backward'
      class='absolute z-30 left-0 ml-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer'
      onclick='goPrev()'
    >
      <svg
        class='dark:text-gray-900'
        width='8'
        height='14'
        viewBox='0 0 8 14'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          d='M7 1L1 7L7 13'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        />
      </svg>
    </button>
    <div class='w-full h-full mx-auto overflow-x-hidden overflow-y-hidden'>
      <div
        id='slider'
        class='h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700'
      >
        <div class='flex flex-shrink-0 relative w-full sm:w-auto'>
          <img
            src='https://static.cms.yp.ca/ecms/media/1/11042220_lel-1444925848-600x360.jpg'
            alt='Pizza image'
            class='object-cover object-center w-full rounded-lg'
          />
          <div
            class='bg-gray-800 bg-opacity-30 absolute w-full h-full p-6 rounded-lg'
          >
            <h2
              class='lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900'
            >Pizza</h2>
            <div class='flex h-full items-end pb-6'>
              <h3
                class='text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900'
              >Classic Cheese</h3>
            </div>
          </div>
        </div>
        <div class='flex flex-shrink-0 relative w-full sm:w-auto'>
          <img
            src='https://static.cms.yp.ca/ecms/media/1/11042220_lel-1444925848-600x360.jpg'
            alt='Pizza image'
            class='object-cover object-center w-full rounded-lg'
          />
          <div
            class='bg-gray-800 bg-opacity-30 absolute w-full h-full p-6 rounded-lg'
          >
            <h2
              class='lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900'
            >Pizza</h2>
            <div class='flex h-full items-end pb-6'>
              <h3
                class='text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900'
              >Classic Cheese</h3>
            </div>
          </div>
        </div>
        <div class='flex flex-shrink-0 relative w-full sm:w-auto'>
          <img
            src='https://static.cms.yp.ca/ecms/media/1/11042220_lel-1444925848-600x360.jpg'
            alt='Pizza image'
            class='object-cover object-center w-full rounded-lg'
          />
          <div
            class='bg-gray-800 bg-opacity-30 absolute w-full h-full p-6 rounded-lg'
          >
            <h2
              class='lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900'
            >Pizza</h2>
            <div class='flex h-full items-end pb-6'>
              <h3
                class='text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900'
              >Classic Cheese</h3>
            </div>
          </div>
        </div>
        <div class='flex flex-shrink-0 relative w-full sm:w-auto'>
          <img
            src='https://static.cms.yp.ca/ecms/media/1/11042220_lel-1444925848-600x360.jpg'
            alt='Pizza image'
            class='object-cover object-center w-full rounded-lg'
          />
          <div
            class='bg-gray-800 bg-opacity-30 absolute w-full h-full p-6 rounded-lg'
          >
            <h2
              class='lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900'
            >Pizza</h2>
            <div class='flex h-full items-end pb-6'>
              <h3
                class='text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900'
              >Classic Cheese</h3>
            </div>
          </div>
        </div>
        <div class='flex flex-shrink-0 relative w-full sm:w-auto'>
          <img
            src='https://static.cms.yp.ca/ecms/media/1/11042220_lel-1444925848-600x360.jpg'
            alt='Pizza image'
            class='object-cover object-center w-full rounded-lg'
          />
          <div
            class='bg-gray-800 bg-opacity-30 absolute w-full h-full p-6 rounded-lg'
          >
            <h2
              class='lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900'
            >Pizza</h2>
            <div class='flex h-full items-end pb-6'>
              <h3
                class='text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900'
              >Classic Cheese</h3>
            </div>
          </div>
        </div>
        <div class='flex flex-shrink-0 relative w-full sm:w-auto'>
          <img
            src='https://static.cms.yp.ca/ecms/media/1/11042220_lel-1444925848-600x360.jpg'
            alt='Pizza image'
            class='object-cover object-center w-full rounded-lg'
          />
          <div
            class='bg-gray-800 bg-opacity-30 absolute w-full h-full p-6 rounded-lg'
          >
            <h2
              class='lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900'
            >Pizza</h2>
            <div class='flex h-full items-end pb-6'>
              <h3
                class='text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900'
              >Classic Cheese</h3>
            </div>
          </div>
        </div>
        <div class='flex flex-shrink-0 relative w-full sm:w-auto'>
          <img
            src='https://static.cms.yp.ca/ecms/media/1/11042220_lel-1444925848-600x360.jpg'
            alt='Pizza image'
            class='object-cover object-center w-full rounded-lg'
          />
          <div
            class='bg-gray-800 bg-opacity-30 absolute w-full h-full p-6 rounded-lg'
          >
            <h2
              class='lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900'
            >Pizza</h2>
            <div class='flex h-full items-end pb-6'>
              <h3
                class='text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900'
              >Classic Cheese</h3>
            </div>
          </div>
        </div>
        <div class='flex flex-shrink-0 relative w-full sm:w-auto'>
          <img
            src='https://static.cms.yp.ca/ecms/media/1/11042220_lel-1444925848-600x360.jpg'
            alt='Pizza image'
            class='object-cover object-center w-full rounded-lg'
          />
          <div
            class='bg-gray-800 bg-opacity-30 absolute w-full h-full p-6 rounded-lg'
          >
            <h2
              class='lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900'
            >Pizza</h2>
            <div class='flex h-full items-end pb-6'>
              <h3
                class='text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900'
              >Classic Cheese</h3>
            </div>
          </div>
        </div>
        <div class='flex flex-shrink-0 relative w-full sm:w-auto'>
          <img
            src='https://static.cms.yp.ca/ecms/media/1/11042220_lel-1444925848-600x360.jpg'
            alt='Pizza image'
            class='object-cover object-center w-full rounded-lg'
          />
          <div
            class='bg-gray-800 bg-opacity-30 absolute w-full h-full p-6 rounded-lg'
          >
            <h2
              class='lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900'
            >Pizza</h2>
            <div class='flex h-full items-end pb-6'>
              <h3
                class='text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900'
              >Classic Cheese</h3>
            </div>
          </div>
        </div>
        <div class='flex flex-shrink-0 relative w-full sm:w-auto'>
          <img
            src='https://static.cms.yp.ca/ecms/media/1/11042220_lel-1444925848-600x360.jpg'
            alt='Pizza image'
            class='object-cover object-center w-full rounded-lg'
          />
          <div
            class='bg-gray-800 bg-opacity-30 absolute w-full h-full p-6 rounded-lg'
          >
            <h2
              class='lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900'
            >Pizza</h2>
            <div class='flex h-full items-end pb-6'>
              <h3
                class='text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900'
              >Classic Cheese</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      aria-label='slide forward'
      class='absolute z-30 right-0 mr-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400'
      onclick='goNext()'
    >
      <svg
        class='dark:text-gray-900'
        width='8'
        height='14'
        viewBox='0 0 8 14'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          d='M1 1L7 7L1 13'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        />
      </svg>
    </button>
  </div>
</div>